
.main-header .header-top {
    position: relative;
    justify-content: space-between;
    align-items: baseline;
    background-color: azure;
}

body {
    display: grid;
    position: relative;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    align-items: baseline;
    justify-content: space-between;
    font-size: 14px;
    color:cadetblue;
  }

.top-right{    
    text-align: right;
    vertical-align: top;
    grid-area: "social-icons";
}

.top-left{
    text-align: left;
    float: left;
    margin-bottom: 5px;
    grid-area: "logo";
}


ul, li {
    list-style: none;
    display: inline;
    padding: 0px;
    margin: 0px;
}

.social-nav .social-nav-item {
    padding: 4px 8px;    
    width: auto;
    margin-bottom: 50px;
	border: none;
	display: inline-block;
}


.navigation-menu{
    text-align: right;
    margin-right: 10px;
    margin:5px;
    padding: 18px;
    color: black;
    font-size: medium;
    grid-area: "navigation-menu"
}


.search-item {
    margin-right: 50px;
}

/** Main -> Post  **/

*{
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 25px;
    border: 1px solid #07638d;
    border-radius: 5px;
    background-color: #fff4e6;
 }

.grid-card {
    width: 300px;
    margin-left: 10px;
    margin: 5px;
    padding: 3px;
    align-items:initial;
    justify-content: start;
    border: 2px solid #a7a6a6;
    box-shadow: 0 0 3px 1px #dddddd;
    border-radius: 2px;
    border-spacing: 2px;
}