
*{
    box-sizing: border-box;
}

.main-header .header-top {    
    position: relative;
    justify-content: space-between;
    align-items: baseline;
    background-color: azure;
}

input[type=text], select {
    width: 100%;
    padding: 6px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
  }

body {    
    width: 1200px;
    display: grid;
    position: relative;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    align-items: baseline;
    justify-content: space-between;
    font-size: 14px;
    background-color: white;
  }

aside{
    max-width: 20%;
    display: block;
    float: right;
    padding: 10px;
  }

.top-right{    
    text-align: right;
    vertical-align: top;
    grid-area: "social-icons";
}

.top-left{
    text-align: left;
    float: left;
    margin-bottom: 5px;
    grid-area: "logo";
}


ul, li {
    list-style: none;
    display: inline;
    padding: 0px;
    margin: 0px;
}

.social-nav .social-nav-item {
    padding: 4px 8px;    
    width: auto;
    margin-bottom: 50px;
	border: none;
	display: inline-block;
}


.navigation-menu{
    text-align: right;
    margin-right: 10px;
    margin:5px;
    padding: 18px;
    color: black;
    font-size: medium;
    grid-area: "navigation-menu"
}


.search-item {
    margin-right: 50px;
}

/** Main -> Post  **/

.container {
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-auto-rows: 400px;
    grid-gap: 25px;
    margin: 0 auto;
    position: relative;
    
 }

 .container > div img{
     max-width: 100%;
 }



.grid-card { 
    position: relative;
    width: 300px;
    margin-left: 10px;
    margin: 5px;
    padding: 3px;    
    align-items:initial;    
    color:rgb(8, 30, 104);
    justify-content: start; 
    border: 2px solid #a7a6a6;
    box-shadow: 0 0 3px 1px #dddddd;
    border-radius: 2px;
    border-spacing: 2px;
    overflow: hidden;  
}

.grid-card-statistic-wrp{
    position: absolute;
    bottom:0;
}

.grid-card:hover{
    border-color: darksalmon;

}

.grid-card-time{
    color:dimgray;
}

.comments{
    color: #5d747ee0;
}

.likes{
    color:cornflowerblue;
}

.grid-card-author{
    color: slategray
}

.grid-card-img{
    transition: transform .2s;
    overflow: hidden;  
}

.grid-card-img:hover{
    transform: scale(1.2);
}

