
.main-header .header-top {
 /**   display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 150px; **/
    position: relative;
    justify-content: space-between;
    align-items: baseline;
    background-color: azure
}

* {
    box-sizing: border-box;
  }

.top-right{    
    text-align: right;
    vertical-align: top;
    grid-area: "social-icons";
}


.top-left{
    text-align: left;
    float: left;
    margin-bottom: 5px;
    grid-area: "logo";
}


ul, li {
    list-style: none;
    display: inline;
    padding: 0px;
    margin: 0px;
}

/**article,
aside,
details,
figure,
footer,
header,
main,
menu,
nav,
section {
	display: block
}**/

.social-nav .social-nav-item {
    padding: 4px 8px;    
    width: auto;
    margin-bottom: 50px;
	border: none;
	display: inline-block;
}


.navigation-menu{
    text-align: right;
    margin-right: 10px;
    margin:5px;
    padding: 18px;
    color: black;
    font-size: medium;
    grid-area: "navigation-menu"
}

.burger-navigation-menu{
    display: none;
}

.search-item{
    margin-right: 50px;
}

.home-nav{
    grid-area: "home"
}

.grid-card-container{
    border: solid 1px black;
    display:grid;
    grid-template-columns: repeat(3, 300px);
}

.about-nav{
    grid-area:"about"
}

body {
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #515151;
  }

.contact-nav{
    grid-area: "contact"
}

.container {
    border: solid 1px red;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 10px;
    justify-content: center;
  }

  .grid-card-container {
    width: 300px;
    box-shadow: 0 0 3px 1px #dddddd;
  }
  
  .post-img {
    display: block;
  }
  
  .post-statistic-wrp {
    color: gray;
    padding-top: 10px;
    border-top: solid 1px #ededed;
  }

  .post-info {
    padding: 10px;
  }
  
  .post-title {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 5px;
  }
  
  .post-description {
    margin-bottom: 10px;
  }
  
  .post-author {
    color: gray;
    margin-bottom: 5px;
  }

  .grid-card-container:hover * {
    background: #444;
    color: white;
  }


@media (max-width: 480px){
    .main-header {
        display: grid;
        grid-template-areas: 
        "home"
        "about"
        "contact"
        ;
    }
}



